@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../base/reset";
@import "../base/typography";
@import "../base/base";

@import "../includes/header";
@import "../includes/footer";

@import "../components/menu";
@import "../components/loader";
@import "../components/contact-block";
@import "../components/form";

@import "../animations/process-animation";

@import "../pages/home-page";

body,
html {
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: $userfont;
  min-height: 100vh;
  background-color: #141314;
  color: #fff;
}
@supports (-webkit-appearance:none){

}
