@charset "UTF-8";
body,
p,
ul, li,
h1, h2, h3, h4, h5, h6,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  outline: none;
  color: inherit; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Gotham Pro"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"), url("../fonts/GothamPro.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 500;
  src: local("Gotham Pro"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-display: swap; }

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Gotham Pro"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-display: swap; }

.container {
  max-width: 1206px;
  padding: 0;
  margin: 0 auto; }
  @media (max-width: 1220px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

.no-scrolling {
  overflow: hidden; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.border-50 {
  border-radius: 50%; }

.full-width {
  width: 100%; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.section-caption {
  font-size: 48px;
  line-height: 118px;
  font-weight: bold; }

.absolute-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.absolute-center-x {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.absolute-center-y {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.header {
  margin-top: 63px;
  max-width: 1413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
  .header__lang {
    font-weight: 700;
    opacity: .41;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    .header__lang:first-of-type {
      margin-right: 15px; }
    .header__lang:hover {
      opacity: .7; }
    .header__lang.active {
      opacity: 1; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 65px; }
  .footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__right {
    max-width: 510px; }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__menu_item {
      padding: 0 5px; }
      .footer__menu_item.active .footer__menu_link {
        font-weight: 500; }
    .footer__menu_link {
      font-weight: 300;
      font-size: 14px;
      line-height: 13px;
      z-index: 1; }
      .footer__menu_link.hover {
        opacity: 0;
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
        z-index: 0; }
      .footer__menu_link:hover + .footer__menu_link.hover {
        opacity: 1; }

.menu {
  max-width: 373px;
  font-size: 14px; }
  .menu__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .menu__item_link {
    padding: 5px 0;
    opacity: 1;
    font-weight: 300; }
    .menu__item_link.hover {
      opacity: 0;
      -webkit-transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s;
      font-weight: 400;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      white-space: nowrap; }
    .menu__item_link.hover:hover {
      opacity: 1; }
  .menu__item.active .menu__item_link {
    font-weight: 700; }

.loader {
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: 0;
  z-index: -1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: -o-linear-gradient(270.51deg, #FFE686 5.25%, #F7B545 59.89%, #F6A51B 96.87%);
  background: linear-gradient(179.49deg, #FFE686 5.25%, #F7B545 59.89%, #F6A51B 96.87%); }
  .loader.active {
    opacity: 1;
    z-index: 10000; }

.contact-section {
  height: 1362px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1362px; }
  .contact-section__circle-bg {
    right: calc((100vw - 1362px + 432px) / -2);
    width: 1349px;
    height: 1349px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(21.9%, rgba(21, 20, 21, 0.19)), color-stop(46.33%, #1F1F1F), color-stop(75.93%, #181818), color-stop(85.55%, rgba(19, 19, 19, 0)));
    background: -o-linear-gradient(bottom, rgba(21, 20, 21, 0.19) 21.9%, #1F1F1F 46.33%, #181818 75.93%, rgba(19, 19, 19, 0) 85.55%);
    background: linear-gradient(360deg, rgba(21, 20, 21, 0.19) 21.9%, #1F1F1F 46.33%, #181818 75.93%, rgba(19, 19, 19, 0) 85.55%);
    z-index: -1; }
  .contact-section__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    .contact-section__block:last-of-type {
      max-width: 650px; }
    .contact-section__block .section-caption {
      margin-bottom: 6px;
      font-size: 52px;
      line-height: 118px; }
    .contact-section__block_email {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      background: -webkit-linear-gradient(360deg, #5E82F1, #FFC62B, #CE5E39);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 30px;
      line-height: 31px;
      margin-bottom: 35px; }
    .contact-section__block_text {
      max-width: 277px;
      font-weight: 300;
      font-size: 14px;
      line-height: 24px; }

.form__field {
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .form__field:not(:first-of-type) {
    margin-top: 43px; }
  .form__field.no-text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: none; }
    .form__field.no-text .form__label {
      width: 100%;
      margin-bottom: 20px; }
  .form__field.file {
    padding-bottom: 0; }
    .form__field.file .form__input {
      color: transparent;
      overflow: visible;
      padding-left: 11px;
      display: block;
      margin-left: -4px;
      background-image: url("../img/download-arrow.svg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: initial; }
      .form__field.file .form__input.hide {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -10000;
        visibility: hidden; }
      .form__field.file .form__input_wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-bottom: 14px; }
        .form__field.file .form__input_wrap .files {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 calc(100% - 108px);
                  flex: 0 0 calc(100% - 108px); }
          .form__field.file .form__input_wrap .files.empty {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; }
          .form__field.file .form__input_wrap .files__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-right: 26px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .form__field.file .form__input_wrap .files__item p {
              font-weight: 300;
              font-size: 18px;
              line-height: 17px;
              margin-right: 14px; }
            .form__field.file .form__input_wrap .files__item span {
              -webkit-box-flex: 0;
                  -ms-flex: 0 0 13px;
                      flex: 0 0 13px;
              height: 12px;
              display: block;
              cursor: pointer;
              background-image: url("../img/x.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center; }
      .form__field.file .form__input::-webkit-file-upload-button {
        visibility: hidden; }
      .form__field.file .form__input:before {
        content: 'Сhoose file';
        color: #fff;
        display: block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        font-weight: 300;
        font-size: 18px;
        line-height: 17px;
        opacity: .4;
        cursor: pointer;
        left: 16px; }
      .form__field.file .form__input.add-more {
        width: 108px; }
        .form__field.file .form__input.add-more:before {
          content: 'Add more'; }
  .form__field.budget {
    padding-bottom: 0; }
    .form__field.budget .budget__wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 10px -5px -26px; }
    .form__field.budget .budget__item {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-left: 5px;
      margin-right: 5px;
      width: 148px;
      font-weight: 300;
      font-size: 12px;
      line-height: 11px;
      background-color: rgba(255, 255, 255, 0.2);
      -webkit-transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s;
      border-radius: 77px;
      padding: 8px 0 7px;
      cursor: pointer;
      margin-bottom: 26px; }
      .form__field.budget .budget__item:hover {
        background-color: rgba(255, 255, 255, 0.4); }
      .form__field.budget .budget__item.active {
        background-color: #fff;
        color: #100F10;
        font-weight: 500; }
  .form__field.checkbox {
    border-bottom: unset; }
    .form__field.checkbox span.error {
      display: none !important; }
    .form__field.checkbox .form__label .pos-a {
      width: 0;
      height: 0;
      z-index: -1000;
      opacity: 0; }
      .form__field.checkbox .form__label .pos-a:checked + span {
        opacity: 1; }
        .form__field.checkbox .form__label .pos-a:checked + span:before, .form__field.checkbox .form__label .pos-a:checked + span:after {
          opacity: 1;
          content: ''; }
    .form__field.checkbox .form__label span.text {
      opacity: .5;
      padding-left: 43px;
      font-size: 18px;
      line-height: 17px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      -webkit-transition: all ease-in-out .3s;
      -o-transition: all ease-in-out .3s;
      transition: all ease-in-out .3s; }
      .form__field.checkbox .form__label span.text:before, .form__field.checkbox .form__label span.text:after {
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-radius: 3px;
        opacity: .5; }
      .form__field.checkbox .form__label span.text:before {
        content: '';
        width: 20px;
        height: 20px;
        left: 0;
        border: 1px solid #FFFFFF; }
      .form__field.checkbox .form__label span.text:after {
        left: 5px;
        background: #FFFFFF;
        width: 10px;
        height: 10px; }
  .form__field span.error {
    position: absolute;
    bottom: 2px;
    opacity: 0.6;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px; }

.form__label {
  white-space: nowrap;
  display: block;
  margin-right: 32px;
  font-size: 18px;
  line-height: 17px;
  cursor: pointer; }

.form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 17px;
  cursor: pointer;
  padding-right: 30px; }
  .form__input.error {
    position: relative; }
    .form__input.error + .warn {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      content: '';
      background-image: url("../img/!.svg");
      background-repeat: no-repeat;
      background-position: center;
      border: 2px solid #CE5E39; }

.form textarea {
  resize: vertical; }

.form__note {
  padding-top: 7px;
  border-top: 1px dashed rgba(255, 255, 255, 0.4);
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  opacity: .6; }

.form__btn {
  margin-top: 18px;
  display: block;
  width: 199px;
  opacity: 0.5;
  border: 1px solid #FFF;
  border-radius: 77px;
  cursor: pointer;
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  background-color: transparent;
  font-size: 18px;
  line-height: 17px;
  font-weight: 400;
  padding: 12px 0 13px;
  color: #fff; }
  .form__btn:hover, .form__btn:active, .form__btn:focus {
    opacity: 1; }

#process-svg #process-design {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }
  #process-svg #process-design-circles, #process-svg #process-design-top-rect, #process-svg #process-design-center-rect, #process-svg #process-design-bottom-rect {
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 0; }
  #process-svg #process-design-top path {
    d: path("M2,5 C2,2 8,2 8,5");
    stroke-width: 5; }
  #process-svg #process-design-circles {
    -webkit-animation-name: processDesignCirclesOpacity;
            animation-name: processDesignCirclesOpacity; }
  #process-svg #process-design-top-rect {
    -webkit-animation-name: processDesignTopRectOpacity;
            animation-name: processDesignTopRectOpacity; }
  #process-svg #process-design-center-rect {
    -webkit-animation-name: processDesignCenterRectOpacity;
            animation-name: processDesignCenterRectOpacity; }
  #process-svg #process-design-bottom-rect {
    -webkit-animation-name: processDesignBottomRectOpacity;
            animation-name: processDesignBottomRectOpacity; }

@-webkit-keyframes processDesignCirclesOpacity {
  2% {
    opacity: 1; }
  18% {
    opacity: 1; } }

@keyframes processDesignCirclesOpacity {
  2% {
    opacity: 1; }
  18% {
    opacity: 1; } }

@-webkit-keyframes processDesignTopRectOpacity {
  2% {
    opacity: 0; }
  3% {
    opacity: 1; } }

@keyframes processDesignTopRectOpacity {
  2% {
    opacity: 0; }
  3% {
    opacity: 1; } }

@-webkit-keyframes processDesignCenterRectOpacity {
  6.4% {
    opacity: 0; }
  7.6% {
    opacity: 1; } }

@keyframes processDesignCenterRectOpacity {
  6.4% {
    opacity: 0; }
  7.6% {
    opacity: 1; } }

@-webkit-keyframes processDesignBottomRectOpacity {
  10.4% {
    opacity: 0; }
  11.6% {
    opacity: 1; } }

@keyframes processDesignBottomRectOpacity {
  10.4% {
    opacity: 0; }
  11.6% {
    opacity: 1; } }

@-webkit-keyframes processDesignOpacity {
  18% {
    opacity: 1; }
  19.5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes processDesignOpacity {
  18% {
    opacity: 1; }
  19.5% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.bg-circle {
  border: 2px dashed rgba(255, 255, 255, 0.2);
  width: 1476px;
  height: 1476px;
  top: -475px;
  right: -142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.bg-sub_circle {
  border: inherit;
  width: calc(100% - 150px);
  height: calc(100% - 150px); }

.home-page .first-section {
  max-width: 1413px;
  margin-top: 223px;
  margin-bottom: 463px; }
  .home-page .first-section__caption {
    font-weight: bold;
    font-size: 48px; }
    .home-page .first-section__caption_bottom {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      background: -webkit-linear-gradient(360deg, #5E82F1, #FFC62B, #CE5E39);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 15px;
      margin-bottom: 30px; }
  .home-page .first-section__note {
    max-width: 469px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px; }
  .home-page .first-section__btn {
    display: block;
    width: 200px;
    padding: 12px 0 13px;
    background-color: transparent;
    border-radius: 77px;
    border: 1px solid #FFF;
    margin-top: 20px; }
  .home-page .first-section__img {
    right: -34px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    .home-page .first-section__img #first-section-svg #dis {
      -webkit-transform: translateX(calc(100% - 460px));
          -ms-transform: translateX(calc(100% - 460px));
              transform: translateX(calc(100% - 460px)); }
      .home-page .first-section__img #first-section-svg #dis #display-top-right,
      .home-page .first-section__img #first-section-svg #dis #display-top-left,
      .home-page .first-section__img #first-section-svg #dis #display-bottom-right {
        -webkit-animation-duration: 2s;
                animation-duration: 2s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-timing-function: ease-in-out;
                animation-timing-function: ease-in-out; }
      .home-page .first-section__img #first-section-svg #dis.click #display-top-right {
        -webkit-animation-name: displaytopright;
                animation-name: displaytopright; }
      .home-page .first-section__img #first-section-svg #dis.click #display-top-left {
        -webkit-animation-name: displaytopleft;
                animation-name: displaytopleft; }
      .home-page .first-section__img #first-section-svg #dis.click #display-bottom-right {
        -webkit-animation-name: displaybottomright;
                animation-name: displaybottomright; }
    .home-page .first-section__img #first-section-svg #ph {
      -webkit-transform: translateY(90px) translateX(43px);
          -ms-transform: translateY(90px) translateX(43px);
              transform: translateY(90px) translateX(43px); }
      .home-page .first-section__img #first-section-svg #ph #dialog {
        opacity: 0; }
      .home-page .first-section__img #first-section-svg #ph #Ellipse1,
      .home-page .first-section__img #first-section-svg #ph #Ellipse2,
      .home-page .first-section__img #first-section-svg #ph #Ellipse3 {
        opacity: 0; }
      .home-page .first-section__img #first-section-svg #ph #phone-changed,
      .home-page .first-section__img #first-section-svg #ph #phone-circles,
      .home-page .first-section__img #first-section-svg #ph #dialog,
      .home-page .first-section__img #first-section-svg #ph #Ellipse1,
      .home-page .first-section__img #first-section-svg #ph #Ellipse2,
      .home-page .first-section__img #first-section-svg #ph #Ellipse3 {
        -webkit-animation-duration: 4s;
                animation-duration: 4s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear; }
      .home-page .first-section__img #first-section-svg #ph.click #phone-changed {
        -webkit-animation-name: phonechangedmove;
                animation-name: phonechangedmove; }
      .home-page .first-section__img #first-section-svg #ph.click #phone-circles {
        -webkit-transform-origin: center;
            -ms-transform-origin: center;
                transform-origin: center;
        transform-box: fill-box;
        -webkit-animation-name: phonecirclesopacity;
                animation-name: phonecirclesopacity; }
      .home-page .first-section__img #first-section-svg #ph.click #dialog {
        -webkit-animation-name: phonedialogopacity;
                animation-name: phonedialogopacity; }
      .home-page .first-section__img #first-section-svg #ph.click #Ellipse1 {
        -webkit-animation-name: phonedialogelipseopacity1;
                animation-name: phonedialogelipseopacity1; }
      .home-page .first-section__img #first-section-svg #ph.click #Ellipse2 {
        -webkit-animation-name: phonedialogelipseopacity2;
                animation-name: phonedialogelipseopacity2; }
      .home-page .first-section__img #first-section-svg #ph.click #Ellipse3 {
        -webkit-animation-name: phonedialogelipseopacity3;
                animation-name: phonedialogelipseopacity3; }
    .home-page .first-section__img #first-section-svg #lap {
      -webkit-transform: translateX(116px) translateY(358px);
          -ms-transform: translateX(116px) translateY(358px);
              transform: translateX(116px) translateY(358px); }
      .home-page .first-section__img #first-section-svg #lap #laptop-left-bottom {
        opacity: .2; }
      .home-page .first-section__img #first-section-svg #lap #laptop-left-top {
        opacity: .3; }
      .home-page .first-section__img #first-section-svg #lap #laptop-right,
      .home-page .first-section__img #first-section-svg #lap #laptop-left-bottom,
      .home-page .first-section__img #first-section-svg #lap #laptop-left-top {
        -webkit-animation-duration: 1s;
                animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear; }
      .home-page .first-section__img #first-section-svg #lap.click #laptop-right {
        -webkit-animation-name: laptoprightmove;
                animation-name: laptoprightmove; }
      .home-page .first-section__img #first-section-svg #lap.click #laptop-left-bottom {
        -webkit-animation-name: laptopleftbottomove;
                animation-name: laptopleftbottomove; }
      .home-page .first-section__img #first-section-svg #lap.click #laptop-left-top {
        -webkit-animation-name: laptoplefttopmove;
                animation-name: laptoplefttopmove; }
    .home-page .first-section__img #first-section-svg #dot-run {
      -webkit-transform: translateY(325px);
          -ms-transform: translateY(325px);
              transform: translateY(325px); }

@-webkit-keyframes displaytopright {
  50% {
    -webkit-transform: translateX(-210px) translateY(-75px);
            transform: translateX(-210px) translateY(-75px); }
  100% {
    -webkit-transform: translateX(-215px) translateY(25px);
            transform: translateX(-215px) translateY(25px); } }

@keyframes displaytopright {
  50% {
    -webkit-transform: translateX(-210px) translateY(-75px);
            transform: translateX(-210px) translateY(-75px); }
  100% {
    -webkit-transform: translateX(-215px) translateY(25px);
            transform: translateX(-215px) translateY(25px); } }

@-webkit-keyframes displaytopleft {
  50% {
    -webkit-transform: translateX(-5px) translateY(86px);
            transform: translateX(-5px) translateY(86px); }
  100% {
    -webkit-transform: translateX(220px) translateY(160px);
            transform: translateX(220px) translateY(160px); } }

@keyframes displaytopleft {
  50% {
    -webkit-transform: translateX(-5px) translateY(86px);
            transform: translateX(-5px) translateY(86px); }
  100% {
    -webkit-transform: translateX(220px) translateY(160px);
            transform: translateX(220px) translateY(160px); } }

@-webkit-keyframes displaybottomright {
  50% {
    -webkit-transform: translateX(5px) translateY(-125px);
            transform: translateX(5px) translateY(-125px); }
  100% {
    -webkit-transform: translateX(-230px) translateY(-215px);
            transform: translateX(-230px) translateY(-215px); } }

@keyframes displaybottomright {
  50% {
    -webkit-transform: translateX(5px) translateY(-125px);
            transform: translateX(5px) translateY(-125px); }
  100% {
    -webkit-transform: translateX(-230px) translateY(-215px);
            transform: translateX(-230px) translateY(-215px); } }

@-webkit-keyframes phonechangedmove {
  10.52% {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px); }
  89.48% {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px); }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

@keyframes phonechangedmove {
  10.52% {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px); }
  89.48% {
    -webkit-transform: translateX(10px) translateY(-10px);
            transform: translateX(10px) translateY(-10px); }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes phonecirclesopacity {
  10.52% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  17.88% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  92% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes phonecirclesopacity {
  10.52% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  17.88% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  92% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-webkit-keyframes phonedialogopacity {
  17.88% {
    opacity: 0; }
  26% {
    opacity: 1; }
  84% {
    opacity: 1; }
  92% {
    opacity: 0; } }

@keyframes phonedialogopacity {
  17.88% {
    opacity: 0; }
  26% {
    opacity: 1; }
  84% {
    opacity: 1; }
  92% {
    opacity: 0; } }

@-webkit-keyframes phonedialogelipseopacity1 {
  30% {
    opacity: 0; }
  33% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@keyframes phonedialogelipseopacity1 {
  30% {
    opacity: 0; }
  33% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@-webkit-keyframes phonedialogelipseopacity2 {
  37% {
    opacity: 0; }
  40% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@keyframes phonedialogelipseopacity2 {
  37% {
    opacity: 0; }
  40% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@-webkit-keyframes phonedialogelipseopacity3 {
  44% {
    opacity: 0; }
  47% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@keyframes phonedialogelipseopacity3 {
  44% {
    opacity: 0; }
  47% {
    opacity: 1; }
  68% {
    opacity: 1; }
  71% {
    opacity: 0; } }

@-webkit-keyframes laptoprightmove {
  50% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px); }
  75% {
    -webkit-transform: translateX(-48px) translateY(18px);
            transform: translateX(-48px) translateY(18px); }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

@keyframes laptoprightmove {
  50% {
    -webkit-transform: translateX(-50px) translateY(-12px);
            transform: translateX(-50px) translateY(-12px); }
  75% {
    -webkit-transform: translateX(-48px) translateY(18px);
            transform: translateX(-48px) translateY(18px); }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes laptopleftbottomove {
  50% {
    -webkit-transform: translateX(39px) translateY(-42px);
            transform: translateX(39px) translateY(-42px);
    opacity: .2; }
  100% {
    -webkit-transform: translateX(-11px) translateY(-24px);
            transform: translateX(-11px) translateY(-24px);
    opacity: .3; } }

@keyframes laptopleftbottomove {
  50% {
    -webkit-transform: translateX(39px) translateY(-42px);
            transform: translateX(39px) translateY(-42px);
    opacity: .2; }
  100% {
    -webkit-transform: translateX(-11px) translateY(-24px);
            transform: translateX(-11px) translateY(-24px);
    opacity: .3; } }

@-webkit-keyframes laptoplefttopmove {
  50% {
    -webkit-transform: translateX(-49px) translateY(12px);
            transform: translateX(-49px) translateY(12px);
    opacity: .3; }
  100% {
    -webkit-transform: translateX(11px) translateY(24px);
            transform: translateX(11px) translateY(24px);
    opacity: .2; } }

@keyframes laptoplefttopmove {
  50% {
    -webkit-transform: translateX(-49px) translateY(12px);
            transform: translateX(-49px) translateY(12px);
    opacity: .3; }
  100% {
    -webkit-transform: translateX(11px) translateY(24px);
            transform: translateX(11px) translateY(24px);
    opacity: .2; } }

.home-page .second-section {
  height: 992px;
  padding-top: 87px;
  max-width: 1424px; }
  .home-page .second-section__bg {
    z-index: -1;
    opacity: 0.2; }
  .home-page .second-section__items {
    margin-top: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .home-page .second-section__item {
    width: 277px; }
    .home-page .second-section__item_bg {
      z-index: -1; }
    .home-page .second-section__item_shine {
      z-index: -2;
      top: -145px;
      -webkit-filter: blur(50px);
              filter: blur(50px); }
    .home-page .second-section__item_caption {
      font-weight: bold;
      font-size: 36px;
      line-height: 118px; }
    .home-page .second-section__item_text {
      font-weight: 300;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 39px; }
    .home-page .second-section__item_link {
      display: block;
      font-size: 18px;
      line-height: 17px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
      .home-page .second-section__item_link:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: 0;
        max-width: 0;
        -webkit-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s; }
      .home-page .second-section__item_link:hover:before {
        max-width: 100%; }

.home-page .third-section {
  padding-top: 143px;
  height: 992px;
  max-width: 1413px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .home-page .third-section__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    .home-page .third-section__block:last-of-type {
      padding-left: 58px; }
  .home-page .third-section__item {
    margin-top: 30px;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s; }
    .home-page .third-section__item_caption {
      font-weight: bold;
      font-size: 19px;
      line-height: 31px;
      margin-bottom: 3px; }
    .home-page .third-section__item_text {
      font-weight: 300;
      font-size: 16px;
      line-height: 174.7%; }

body,
html {
  position: relative;
  overflow-x: hidden; }

body {
  font-family: "Gotham Pro", sans-serif;
  min-height: 100vh;
  background-color: #141314;
  color: #fff; }

@supports (-webkit-appearance:none){
.form__field.file .form__input{background-image:url("../img/download-arrow.svg")}
.form__field.file .form__input_wrap .files__item span{background-image:url("../img/x.svg")}
.form__input.error + .warn{background-image:url("../img/!.svg")}
}

 @media (max-width: 1220px){

@supports (-webkit-appearance:none){

}

}
